.DS_Store

node_modules/

builds/

dictionaries/

/test-results/
/playwright-report/
/playwright/.cache/
/test/playwright/__screenshots__/
/.playwright-user-data/

ext/manifest.json

ext/lib/*
actionlint
