body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    max-width: 680px;
    padding: 0 1em;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #f8f8f8;
    counter-reset: test-id;
    overflow-y: scroll;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

p {
    margin: 0.33em 0;
}

h1+test-description {
    margin-top: -0.67em;
}

a, a:visited {
    color: #1080c0;
    text-decoration: underline;
}

test-case {
    display: block;
    background-color: #ffffff;
    margin: 1em 0;
    padding: 0.5em;
    box-shadow: rgba(64, 64, 64, 0.3) 0px 1px 2px 0px, rgba(64, 64, 64, 0.15) 0px 1px 3px 1px;
    border-radius: 4px;
}

test-case::before {
    content: 'Test ' counter(test-id);
    display: block;
    counter-increment: test-id;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #d8d8d8;
    font-weight: bold;
}

test-description {
    color: #444444;
    font-style: italic;
    display: block;
    padding-bottom: 0.5em;
}
